body{
	padding:5% 30% 0% 30%;
	background-size: contain;
}
.Invitation{
	background-color: #FFC0CB;
	text-align: center;
	vertical-align: middle;
	border: solid black 2px;
	font-family: cursive;
	font-style: italic;
}
#image{
	position:absolute;
	left:30%;
	width:200px;
	height:100px;
}
.heading{
	color: red;
	font-size: 30px;
	text-align:centre;
}
.header{
	color: blue;
	font-size: 20px;
}
.details{
	color: purple;
	font-size: 20px;
}
.dline{
	color: red;
	font-size: 20px;
}
.footer{
	color: orange;
	font-size: 20px;
}
